.btnsubmit{
    margin-top: 15px;
}
.lbblank{
    display: block;
    margin-bottom: 35px;
}
.lbsearch{
    margin-right: 7px;
}
.btntt {
    width: 49%;
    margin-top: 30px;
    font-family: 'SVN-Gilroy Bold';
    line-height: 48px;
    background: #fcaf17;
    color: #fff;
    text-align: center;
    padding: 0;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    font-size: 18px;
}
.stdcode{
    font-weight: bold;
    cursor: pointer;
}